body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.filter {
  display: flex;
  gap: 8px;
}

.form-row {
  display: flex;
  gap: 4px;
}

table,
th,
td {
  border: black 1px solid;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  width: 120px;
}
