.page {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  padding-top: 50px;
  padding-left: 25px;
  font-size: 18px;
}

.sidebar ul {
  margin: 5px;
  list-style: none;
}

.sidebar a {
  color: #1d5d8b;
  text-decoration: none;
}
