.students-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

table {
  width: 85%;
}

th,
td {
  width: 110px;
}

th:nth-child(2),
td:nth-child(2),
th:nth-child(5),
td:nth-child(5) {
  width: 225px;
}
